<h2>User Details for {{userData.username}}</h2>
<ul>
    <li>username: {{userData.username}}</li>
    <li>firstName: {{userData.firstName}}</li>
    <li>lastName: {{userData.lastName}}</li>
    <li>profession: {{userData.profession}}</li>
    <li>bio: {{userData.bio}}</li>
</ul>
<a href="/logout">Logout</a>